@import './base.css';


.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.row-items {
    display: flex;
    justify-content: start;
}
.left {
    position: absolute;
    left: 0;
    margin: 10px;
    transform: translate(0, -50%);
}
.row-center{
    display: flex;
    justify-content: center;
}
.space-item{
    padding: 15px;
}
.font-word{
    font-weight: bold; font-size:16px
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

body{
    background: rgb(210,255,245);
    background: linear-gradient(189deg, rgba(210,255,245,1) 25%, rgba(240,253,255,1) 50%, rgba(250,228,255,1) 75%);}
